*{
    box-sizing: border-box;
}
/*nav start*/
.nav-item {
    margin-inline: 20px;
    
}
.nav-item{
    color: rgb(43, 43, 63);
}
.nav-item:hover {
    color: blue;
}
/*nav end*/


/*section1 start*/
.fw-bolder {
    font-size: 55px;
}

.paragraph {
    font-size: 16px;
    opacity: 1px;
}
/*section1 end*/


.logo {
    width: 80px;
    height: 60px;
    padding: 12px ;
}
/*Section3 start*/

.headline {
    font-weight: 600;
    font-size: 50px;
}

.heading {
    margin-left: 2px;
    margin: 60px 20px;
}
/*Section3 end*/


/*images*/
.head1 {
  width: 120%;
  height: 110%;
  margin-top: -18px;
  margin-left: -50px;
  
    
}

.head2 {
    width: 130%;
    height: 140%;
    margin-top: -110px; margin-left: -120px;
}

.head3 {
    width: 120%;
    height: 100%;
}

.head4 {
    width: 100%;
    height: 100%;
    margin-left: -0px;
}
.head5 {
    width: 130%;
    height: 50%;
    margin-top: -60px;
    margin-left: -100px;
}

.head6 {
    width: 110%;
    height: 100%;
    margin-left:-50px;
}
/*images end*/

.shadow {
    background-color: rgb(255, 255, 255);
    margin-top: 5rem;
    border-radius: 20px;
    align-items: center;
    box-shadow: rgb(51 51 51 / 10%) 0px 4px 32px;
    
}

/*section4 start*/
.features {
    margin-left: 50px;
    
}


.value1 {
    margin-left: 50px;
}

.value {
    font-size: 40px;
}

/*section4 end*/

/*section6 start*/
.step1 {
    font-size: 40px;
}

.step {
    margin: 100px 0px;
}

.simple {
    margin-left: 50px;
    margin-top: -10px;
}
/*section6 end*/

/*.lando {
    margin: 150px 70px;
}*/

.decoration {
    text-decoration: none;
    color: #000;
}

.Testimonial {
    margin-top: 100px;
}

.assets {
    margin-top: 40px;
}

.star {
    width: 6%;
    height: 10%;
}


/*practice*/
.column {
    float: left;
    width: 25%;
  }
  
  /* On screens that are 992px wide or less, go from four columns to two columns */
  @media screen and (max-width: 992px) {
    .column {
      width: 50%;
    }
  }
  
  /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }



